.gameContainer {
  background-color: #333; /* Asphalt color */
  position: relative;
  overflow: hidden;
  margin: auto;
}

.player {
  background-image: url('/8bitcarbg.svg');
  background-size: cover;
  position: absolute;
  z-index: 3;
}

.obstacle {
  background-color: red;
  position: absolute;
}

.roadMarking {
  width: 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  z-index: 4;
}