.gameContainer {
  background-color: #333; /* Asphalt color */
  position: relative;
  overflow: hidden;
  margin: auto;
  z-index: 1;
}

.mainContainer {
  position: relative;
}

.treesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leftTree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rightTree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  color: red;
}

.player {
  background-image: url('/8bitcarbg.svg');
  background-size: cover;
  position: absolute;
  z-index: 3;
}

.obstacle {
  background-image: url('/8bitcarbg.svg'); 
  background-size: cover;
  position: absolute;
}

.roadMarking {
  width: 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  z-index: 4;
}